<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- Fontfaces CSS-->
  <link href="/stylesheets/font-face.css" rel="stylesheet" media="all">
  <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" media="all">
  <link href="/stylesheets/fontawesome-all.min.css" rel="stylesheet" media="all">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="all">
  <link href="/stylesheets/material-design-iconic-font.min.css" rel="stylesheet" media="all">

  <!-- Bootstrap CSS-->
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="all">

  <!-- Vendor CSS-->
  <link href="/stylesheets/animsition.min.css" rel="stylesheet" media="all">
  <link href="/stylesheets/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
  <link href="/stylesheets/animate.css" rel="stylesheet" media="all">
  <link href="/stylesheets/hamburgers.min.css" rel="stylesheet" media="all">
  <link href="/stylesheets/slick.css" rel="stylesheet" media="all">
  <link href="/stylesheets/select2.min.css" rel="stylesheet" media="all">
  <link href="/stylesheets/perfect-scrollbar.css" rel="stylesheet" media="all">

  <!-- Main CSS-->
  <link href="/stylesheets/theme.css" rel="stylesheet" media="all">
</head>

<body class="animsition">
  {{{body}}}


  <!-- Jquery JS-->
  <script src="/javascripts/jquery-3.2.1.min.js"></script>
  <!-- Bootstrap JS-->
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <!-- Vendor JS       -->
  <script src="/javascripts/slick.min.js">
  </script>
  <script src="/javascripts/wow.min.js"></script>
  <script src="/javascripts/animsition.min.js"></script>
  <script src="/javascripts/bootstrap-progressbar.min.js">
  </script>
  <script src="/javascripts/jquery.waypoints.min.js"></script>
  <script src="/javascripts/jquery.counterup.min.js">
  </script>
  <script src="/javascripts/circle-progress.min.js"></script>
  <script src="/javascripts/perfect-scrollbar.js"></script>
  <script src="/javascripts/Chart.bundle.min.js"></script>
  <script src="/javascripts/select2.min.js">
  </script>

  <!-- Main JS-->
  <script src="/javascripts/main.js"></script>

  {{!-- <!-- EXPORT EXCEL -->
  <!-- you need to include the shieldui css and js assets in order for the components to work -->
  <link rel="stylesheet" type="text/css"
    href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
  <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
  <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/jszip.min.js"></script> --}}
</body>

</html>